#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
  max-width: 100%;
  background-color: whitesmoke;
  font-size: 1.4rem;
  margin-bottom: 2%; }
  #header .headerIzquierda {
    max-width: 360px; }
    #header .headerIzquierda .logo {
      position: relative;
      max-width: 100%; }

@media screen and (min-width: 768px) {
  #header {
    font-size: 3rem; } }

.d-flex {
  padding-top: 0;
  color: #061b32;
  font-family: Arial, Helvetica, sans-serif; }
  .d-flex:hover {
    color: #2883C7; }

#navegacion {
  font-size: 2rem;
  padding: 10px 0 10px 0;
  background-color: whitesmoke;
  color: whitesmoke;
  text-decoration: none;
  width: 100%;
  margin: auto;
  position: relative;
  font-family: Qsand;
  border-radius: 15px 15px 0 0; }
  #navegacion .navbar-collapse {
    background-color: whitesmoke;
    color: #061b32;
    margin-top: 5px; }
    #navegacion .navbar-collapse ul {
      justify-content: center; }
  #navegacion .nav-link {
    padding-top: 0;
    color: #061b32;
    font-family: Qsand; }
    #navegacion .nav-link:hover {
      color: #2883C7; }
  #navegacion .btnBuscar {
    background-color: #061b32;
    color: #9DC9E0;
    font-weight: bold;
    border: #061b32; }
    #navegacion .btnBuscar:hover {
      background-color: #2883C7;
      color: #c6e9fc;
      transition-duration: 0.5s; }
  #navegacion .navbar-toggler-icon {
    margin: 3px; }

/* mediaQuery navbar */
@media screen and (min-width: 992px) {
  .container {
    max-width: 85%;
    margin: 0 auto; }
  #navegacion {
    background-color: #061b32;
    color: #9DC9E0; }
    #navegacion .nav-link {
      color: #9DC9E0; }
      #navegacion .nav-link:hover {
        color: #c6e9fc; }
    #navegacion .navbar-collapse {
      background-color: #061b32; }
    #navegacion .dropdown-menu {
      background-color: #061b32; }
      #navegacion .dropdown-menu a {
        color: #9DC9E0; }
        #navegacion .dropdown-menu a:hover {
          color: #c6e9fc; }
      #navegacion .dropdown-menu li:hover a {
        padding: 5px; } }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(../assets/Fuentes/Quicksand-VariableFont_wght.ttf); }

html {
  font-size: 67.5%; }

body {
  font-family: Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  background-color: whitesmoke; }

.container {
  max-width: 100%;
  margin: 0 auto; }

/* PLANTAS */
.plantas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  margin: 30px;
  height: 280px; }
  .plantas .pPic {
    position: relative;
    margin-top: 40px;
    padding-inline: 25px; }

.txtfotos {
  position: relative;
  margin-top: 40px;
  padding-inline: 25px; }

footer {
  width: 100%;
  display: grid;
  grid-template-areas: "futer1" "futer2" "futer3";
  grid-template-rows: 1fr;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center; }
  footer h2 {
    font-size: 2.5rem; }
  footer .foot {
    margin: 15px 0 15px 0; }
    footer .foot .contenidoF {
      position: relative;
      line-height: 2rem; }
      footer .foot .contenidoF .btnFuter1 {
        font-size: 1.8rem;
        padding: 0;
        color: #1E5594; }
        footer .foot .contenidoF .btnFuter1:hover {
          color: #2883C7;
          transition-duration: 0.3s; }
      footer .foot .contenidoF h3 {
        color: #1E5594; }
  footer .futer1 {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin: auto; }
    footer .futer1 h2 {
      margin-bottom: 0; }
  footer .futer2 {
    grid-area: futer2;
    justify-self: center;
    display: flex;
    justify-content: center; }
    footer .futer2 .mediosPago {
      width: 90%;
      margin: auto;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      justify-content: center; }
      footer .futer2 .mediosPago li {
        width: 6%;
        margin: 1%; }
        footer .futer2 .mediosPago li img {
          margin: 0;
          width: 100%; }
  footer .futer3 {
    grid-area: futer3;
    justify-self: center; }
    footer .futer3 .line {
      display: flex;
      flex-direction: row; }
      footer .futer3 .line img {
        color: #2883C7; }
      footer .futer3 .line h3 {
        padding: 4px 0px 4px 15px;
        margin-bottom: 0; }

/* mediaQuery footer */
@media screen and (min-width: 768px) {
  .carousel {
    z-index: 998; }
  footer {
    width: 100%;
    grid-template-areas: "futer1 futer2 futer3";
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    padding-top: 20px; }
  h2 {
    font-size: 2rem; }
  .futer1 {
    grid-area: futer1;
    max-width: 100%; }
  .futer2 {
    grid-area: futer2; }
    .futer2 .mediosPago {
      width: 80%;
      padding: 0; }
      .futer2 .mediosPago li {
        width: 12.2%;
        margin: 1%; }
      .futer2 .mediosPago img {
        margin: 0;
        width: 100%; } }

.carousel {
  z-index: 1000; }

#carouselExampleIndicators .carousel-indicators {
  bottom: -42px; }

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%; }

.modal-body span {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10% 0;
  color: #061b32; }

section {
  color: #061b32; }
