@charset "UTF-8";

// ESTILOS GENERALES
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Qsand;
  src: url(../assets/Fuentes/Quicksand-VariableFont_wght.ttf);
}

html {
  font-size: 67.5%;
}

body {
  font-family: Qsand, sans-serif, Arial, Helvetica, sans-serif;
  background-color: $bg-color2;  
}

#grad {
  background-image: linear-gradient(to top, rgba(38, 0, 254, 0.185), whitesmoke);
 }

.container {
  max-width: 90%;
  margin: 0 auto;
}