@charset "UTF-8";

// ESTILOS GENERALES
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Qsand;
  src: url(../assets/Fuentes/Quicksand-VariableFont_wght.ttf);
}

html {
  font-size: 67.5%;
}

body {
  font-family: Qsand, sans-serif, Arial, Helvetica, sans-serif;
  background-color: $bg-color2;  
}

#grad {
  background-image: linear-gradient(to top, rgba(30, 0, 198, 0.167), whitesmoke);
 }

.container {
  max-width: 90%;
  margin: 0 auto;
}

// CONTACTO 
#contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(169, 1, 1);
  margin-top: 40px;
  height: 300px;
}

#contacto1
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(169, 1, 1); 
  margin-top: 40px;
  height: 40px;
}


// PLANTAS
.rowplantas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(169, 1, 1);
    position: relative;
    margin: 30px;
    height: 500px;
  
    .pPic {
      position: relative;
      margin-top: 50px;
      padding-inline: 10px;
    }
  }
  .txtfotos {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    margin-top: 25px;
    padding-inline: 25px;
  }
  
